{% extends "app/layout.html" %}

{% block content %}

    <section class="card bg-white">

        <!-- Table -->
        <div class="table-response">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Local de Partida</th>
                        <th scope="col">Local de Destino</th>
                        <th scope="col">Consumo Medio Total</th>
                        <th scope="col">Consumo Medio a 40Km/h</th>
                        <th scope="col">Consumo Medio a 60Km/h</th>
                        <th scope="col">Consumo Medio a 80Km/h</th>
                        <th scope="col">Consumo Medio a 100Km/h</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Inputs Form -->
        <form id="myForm" class="container-sm">
            <div class="row">
                <div class="form-floating mb-3 col">
                  <input id="partida" type="text"class="form-control" placeholder="text">
                  <label class="space-input" for="floatingInput">Local de Partida</label>
                </div>

                <div class="form-floating col">
                  <input id="destino" type="text"class="form-control" placeholder="text">
                  <label class="space-input" for="floatingInput">Local de destino</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                      <input id="km40" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" class="form-control" placeholder="text" min="0">
                      <label class="space-input" for="floatingInput">KM percorridos a 40 KM/h</label>
                    </div>

                <div class="form-floating col">
                  <input id="km60" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" class="form-control" placeholder="text" min="0">
                  <label class="space-input" for="floatingInput">KM percorridos a 60 KM/h</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                  <input id="km80" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" class="form-control" placeholder="text" min="0">
                  <label class="space-input" for="floatingInput">KM percorridos a 80 KM/h</label>
                </div>

                <div class="form-floating col">
                  <input id="km100" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" class="form-control" placeholder="text" min="0" />
                  <label class="space-input" for="floatingInput">KM percorridos a 100 KM/h</label>
                </div>
            </div>
        </form>

        <!-- Buttons Form -->
        <div class="container">
            <div class="row justify-content-center gap-2">
                <button onclick="clearForm()" type="button" class="btn btn-outline-secondary col-3 mb-3">Limpar</button>
                <button onclick="calculated()" type="button" class="btn btn-outline-success col-3 mb-3">Calcular</button>
            </div>
        </div>
    </section>

{% endblock %}
