{% extends "app/layout.html" %}

{% block content %}

    <section class="card bg-white">

        <!-- Card - Head - Table for show results -->
        <div class="result"><hr />Resultado</div>

        <div class="table-response">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Consumo Medio Total</th>
                        <th scope="col">Consumo Medio a 40Km/h</th>
                        <th scope="col">Consumo Medio a 60Km/h</th>
                        <th scope="col">Consumo Medio a 80Km/h</th>
                        <th scope="col">Consumo Medio a 100Km/h</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Inputs Form -->
        <form id="myForm" class="container-sm">
            <div class="row">
                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="partida" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>

                <div class="form-floating col">
                  <input type="number" class="form-control" id="destino" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira o seu destino</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                      <input id="km40" type="number" class="form-control" placeholder="text">
                      <label class="space-input" for="floatingInput">KM percorridos a 40 KM/h</label>
                    </div>

                <div class="form-floating col">
                  <input id="km60" type="number" class="form-control" placeholder="text">
                  <label class="space-input" for="floatingInput">KM percorridos a 60 KM/h</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                  <input id="km80" type="number" class="form-control" placeholder="text">
                  <label class="space-input" for="floatingInput">KM percorridos a 80 KM/h</label>
                </div>

                <div class="form-floating col">
                  <input id="km100" type="number" class="form-control" placeholder="text">
                  <label class="space-input" for="floatingInput">KM percorridos a 100 KM/h</label>
                </div>
            </div>
        </form>

        <div class="container">
            <div class="row justify-content-center gap-2">
                <button onclick="clearForm()" type="button" class="btn btn-outline-secondary col-3 mb-3">Limpar</button>
                <button onclick="calculated()" type="button" class="btn btn-outline-success col-3 mb-3">Calcular</button>
            </div>
        </div>
    </section>

{% endblock %}
