{% extends "app/layout.html" %}

{% block content %}

    <section>

        <!-- Inputs Form -->
        <div class="container-sm">
            <div class="row">
                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="floatingInput" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>

                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="floatingPassword" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                      <input type="number" class="form-control" id="floatingPassword" placeholder="text">
                      <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                    </div>

                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="floatingPassword" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>
            </div>

            <div class="row">
                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="floatingPassword" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>

                <div class="form-floating mb-3 col">
                  <input type="number" class="form-control" id="floatingPassword" placeholder="text">
                  <label class="space-input" for="floatingInput">Insira a localizacao inicial</label>
                </div>
            </div>
        </div>
    </section>

    

{% endblock %}
